<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.epic.debug.launchConfigurationPerl">
<stringAttribute key="ATTR_PROGRAM_PARAMETERS" value="&quot;C:\Users\SMARTSOL 20\Desktop\Cobol&quot;"/>
<stringAttribute key="ATTR_PROJECT_NAME" value="LimpiezaCOBOL"/>
<stringAttribute key="ATTR_STARTUP_FILE" value="sanitizadorCOBOL.pl"/>
</launchConfiguration>
